@model CRUDDavidAlvarezEF.Models.Categoria

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center">Detalles</h1>
<br />
<div class="text-center">
    <h4>Categoria</h4>
    <br />
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
    </dl>
</div>
<div class="text-center">
    <a asp-action="Edit" class="btn btn-outline-primary text-center" asp-route-id="@Model?.CodigoCategoria">Edit</a>
    <a asp-action="Index" class="btn btn-outline-danger text-center">Back to List</a>
</div>
